figure[data-rehype-pretty-code-figure] {
	margin: 0 16px;

	pre[data-language] {
		overflow-x: auto;
		padding: 1rem 0;

		[data-line] {
			padding: 0 1rem;
		}

		code {
			&[data-line-numbers] {
				counter-reset: line;

				> [data-line]::before {
					counter-increment: line;
					content: counter(line) ".";

					margin-right: 2rem;
					color: gray;
				}
			}
		}
	}
}