html,
body {
	height: 100%;
}

body {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: 80px 1fr 80px;
	grid-template-columns: 100%;
	gap: 16px;

	font-size: 1.2rem;
	background-color: var(--bg-color);
	color: var(--text-color);
}

header {
	grid-area: header;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
}